div {
    width: 900px;
    word-wrap: break-word;
    font-family: verdana;
    font-size: 20px;
}

h1 {
    width: 900px;
    word-wrap: break-word;
    font-family: verdana;
    font-size: 30px;    
}